* {
    text-align: center;
}

body {
    background-color: #0b0c10;
}

#main-navbar {
    background-color: #1f2833;
    overflow: hidden;
    border-radius: 25px;
    padding: 1px;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Fira Mono', serif;
    font-size: 250%;
    padding: 1%;
    color: #66FCF1;
}

.body {
    font-family: 'Georgia', serif;
    font-size: 120%;
    margin-left: 23%;
    width: 1000px;
    color: #c5c6c7;
}